.*
!/.gitignore
!.gitattributes
!.github
*.user
*.o
*.a

# gcc (-MMD -save-temps)
*.d
*.i
*.s

# VS stuff
ipch
.vs
*.opensdf
*.pdb
*.sdf
*.suo
*.v11.suo
*.v12.suo
*.vspscc
*.VC.db
*.VC.VC.opendb

Debug
Release
/ext_libs/Debug
/ext_libs/Release
/ext_libs/*.exp
/ext_libs/*.lib
/ext_libs/libspeex/Debug
/ext_libs/libspeex/Release
/ext_libs/libspeex/*.exp
/ext_libs/libspeex/*.lib
/ext_libs/Getopt/Debug
/ext_libs/Getopt/Release
/fb2k/Debug
/fb2k/Release
/src/Debug
/src/Release
/cli/Debug
/cli/Release
/cli/*.exe
/winamp/Debug
/winamp/Release
/winamp/*.dll
/xmplay/Debug
/xmplay/Release
/xmplay/*.dll

/msvc-build.config.ps1
/msvc-build.log
# for test batchs, note that already tracked files are never ignored
/msvc-build-*.bat

# vscode
.vscode

# build
/version_auto.h
/dependencies
/bin/**/*
/tmp/**/*
/**/vgmstream-win.zip
/**/foo_input_vgmstream.fb2k-component

# cmake stuff
/build
/embuild
/cmake-build*
CMakeCache.txt
CMakeFiles
/lib
/cli/vgmstream_cli
/cli/vgmstream123
/audacious/vgmstream.so
/audacious/Makefile
cmake_install.cmake

#doc build
doc/INFO.md
doc/_build