# don't set for now (too many fixes at once)
#* text=auto
#*.c text=auto
#*.h text=auto
#* -text

*.cpp text eol=lf
*.cc text eol=lf

*.sh text eol=lf
*.bat text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
