.*
!/.gitignore
*.user
*.o
*.a

# VS stuff
ipch
.vs
*.opensdf
*.pdb
*.sdf
*.suo
*.v11.suo
*.v12.suo
*.vspscc
*.VC.db
*.VC.VC.opendb

Debug
Release
/ext_libs/Debug
/ext_libs/Release
/ext_libs/*.exp
/ext_libs/*.lib
/ext_libs/Getopt/Debug
/ext_libs/Getopt/Release
/fb2k/Debug
/fb2k/Release
/src/Debug
/src/Release
/test/Debug
/test/Release
/test/*.exe
/winamp/Debug
/winamp/Release
/winamp/*.dll
/xmplay/Debug
/xmplay/Release
/xmplay/*.dll
