# intellisense crap
ipch

# more intellisense crap
xmp-vgmstream.sdf
xmp-vgmstream.opensdf
xmp-vgmstream.suo
xmp-vgmstream.v11.suo
xmp-vgmstream.v12.suo

# output directories
Debug
Release

# and some debugging symbol crap
*.pdb

# new for Visual Studio 2015
.vs
*.VC.db

# auto generated
version.h