#include "resource.h"
//#include "afxres.h"
#include <windows.h>
#define IDC_STATIC -1

//elements: text, id, x, y, width, height [, style [, extended-style]]
IDD_CONFIG DIALOGEX 0, 0, 188, 220
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "in_vgmstream configuration"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    // right column
    DEFPUSHBUTTON   "OK",IDOK,129,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,24,50,14
    PUSHBUTTON      "Default",IDC_DEFAULT_BUTTON,129,41,50,14

    LTEXT           "Thread Priority",IDC_STATIC,110,60,46,8
    CONTROL         "Slider1",IDC_THREAD_PRIORITY_SLIDER,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,96,76,77,10
    CTEXT           "DATARIFIC",IDC_THREAD_PRIORITY_TEXT,96,92,77,18

    LTEXT           "ReplayGain",IDC_STATIC,100,118,38,8
    COMBOBOX        IDC_GAIN_TYPE,95,128,80,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Clip Protect",IDC_STATIC,100,145,37,8
    COMBOBOX        IDC_CLIP_TYPE,95,155,80,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    // left column
    LTEXT           "Loop Count",IDC_STATIC,7,10,44,12
    EDITTEXT        IDC_LOOP_COUNT,52,7,39,14,ES_AUTOHSCROLL

    LTEXT           "Fade Length",IDC_STATIC,7,25,41,8
    EDITTEXT        IDC_FADE_TIME,52,23,39,14,ES_AUTOHSCROLL
    LTEXT           "seconds",IDC_STATIC,93,25,29,11

    LTEXT           "Fade Delay",IDC_STATIC,7,40,41,8
    EDITTEXT        IDC_FADE_DELAY,52,38,39,14,ES_AUTOHSCROLL
    LTEXT           "seconds",IDC_STATIC,93,40,29,11

    CONTROL         "Loop normally",IDC_LOOP_NORMALLY,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,7,57,77,10
    CONTROL         "Loop forever",IDC_LOOP_FOREVER,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,7,70,77,10
    CONTROL         "Ignore looping",IDC_IGNORE_LOOP,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,7,83,77,10

    CONTROL         "Disable subsongs",IDC_DISABLE_SUBSONGS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,99,87,10

    LTEXT           "Downmix",IDC_STATIC,7,115,48,12
    EDITTEXT        IDC_DOWNMIX_CHANNELS,52,112,37,14,ES_AUTOHSCROLL

    CONTROL         "Disable tagfile",IDC_TAGFILE_DISABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,132,87,10

    CONTROL         "Force internal title",IDC_FORCE_TITLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,148,87,10

    CONTROL         "Enable unknown exts",IDC_EXTS_UNKNOWN_ON,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,164,87,10

    CONTROL         "Enable common exts",IDC_EXTS_COMMON_ON,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,180,87,10

    PUSHBUTTON      "Open Log",IDC_LOG_BUTTON,7,196,50,14

END
