#include "resource.h"
#include "afxres.h"

IDD_CONFIG DIALOGEX 0, 0, 187, 119
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "in_vgmstream configuration"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,129,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,24,50,14
    PUSHBUTTON      "Default",IDC_DEFAULT,129,58,50,14
    LTEXT           "Loop Count",IDC_STATIC,7,10,44,12
    EDITTEXT        IDC_LOOP_COUNT,52,7,39,14,ES_AUTOHSCROLL
    LTEXT           "Fade Length",IDC_STATIC,7,25,41,8
    EDITTEXT        IDC_FADE_SECONDS,52,23,39,14,ES_AUTOHSCROLL
    LTEXT           "seconds",IDC_STATIC,93,25,29,11
    LTEXT           "Fade Delay",IDC_STATIC,7,40,41,8
    EDITTEXT        IDC_FADE_DELAY_SECONDS,52,38,39,14,ES_AUTOHSCROLL
    LTEXT           "seconds",IDC_STATIC,93,40,29,11
    CONTROL         "Loop forever",IDC_LOOP_FOREVER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,60,77,10
    LTEXT           "Thread Priority",IDC_STATIC,21,73,46,8
    CONTROL         "Slider1",IDC_THREAD_PRIORITY_SLIDER,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,7,81,77,10
    CTEXT           "DATARIFIC",IDC_THREAD_PRIORITY_TEXT,7,94,77,18
END

